body{
  background: #FFFF00;
  color: #4f4f4f;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
h1{
  font-family: 'Oswald', sans-serif;
  color: orange;
  font-weight: bolder;
  font-size: 60px;
}
h2 {
  font-family: 'Lobster Two', cursive;
  color: #38A41D;
  font-weight: lighter;
  font-size: 30px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: #42113C;
}

/* Custom design */

#banner {
  background-image: url("https://unsplash.it/1000/330?image=1080");
  padding: 40px;
  text-align: center;
  color: white ;
  background-size: cover;
  margin-bottom: 45px;
}
#banner h1 {
  color:white;
}
#banner p {
  color:white;
  font-size:25px;
  font-family: 'Oswald', sans-serif;
  opacity: 0.9;
  font-weight: lighter;

}

.cards {
   background: #E2E9D7;
   margin:10px;
   padding: 15px;
   border-radius: 12px;
   box-shadow: 3px 3px 8px #d6d600;
   text-align: center;
}

#footer {
  background: #38A41D;
  color: rgb(255, 255, 255);
  margin: 34px;
  padding: 5px;
  border-radius: 12px;
  text-align: center;
}

#footer a:hover {
  color: #FFFF00;
}

#footer a {
  text-decoration: none;
  font-size: 20px;
  color: white;

}






